NUXT_DATABASE_URL=mysql://root:root@localhost:3307/witrynovo
NUXT_LEAD_NOTIFY_TO=kontakt@witrynovo.pl
NUXT_SMTP_HOST=localhost
NUXT_SMTP_PORT=1025
NUXT_SMTP_FROM=witrynovo <no-reply@witrynovo.pl>
NUXT_SESSION_PASSWORD=zmien-mnie-na-losowy-ciag-min-32-znaki-0000

# 2FA wymagane (produkcja=true). Lokalnie do pominięcia 2FA: false
NUXT_REQUIRE_MFA=true
